---
---

$header-heading-color: #fff;
$header-bg-color: #000000; 
$header-bg-color-secondary: #6f0000; 
$section-headings-color: #fff;

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-size: 100%;
  background-position-y: -311px;
  background-image: url("https://github.com/darkdks/KF2ServerTool/blob/master/imgs/background_gitpage.jpg?raw=true");
/*linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);*/

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
body {
  
  /*  background: radial-gradient(#000, #270000, #000000);*/
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(45,1,6,1) 50%, rgba(0,0,0,1) 100%);
  color: #b7b7b7;
}
