---
---

$header-heading-color: #ffffffb5;
$header-bg-color: #000000; 
$header-bg-color-secondary: #6f0000; 
$section-headings-color: #fff;

@import "{{ site.theme }}";

h1.project-name {
    margin-top: 161px;
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-size: cover;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/39747379219899085/A35F08AAFF4A225210E505678FA3AD27A889880A/);
  color: #ffe8b9;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

section.main-content {
    background-color: #000000d6;
}
.main-content h2 {
    color: #ffffff;
    background-color: black;
}
section.page-header {
    border-bottom: 9px solid #420000;
}
.main-content h2 {
    color: white;
}
body {
    background-color: #000;
    color: #d6d6d6;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/39747379219899085/A35F08AAFF4A225210E505678FA3AD27A889880A/);
    background-attachment: fixed;
}
