---
---

$header-heading-color: #ffffffb5;
$header-bg-color: #000000; 
$header-bg-color-secondary: #6f0000; 
$section-headings-color: #fff;

@import "{{ site.theme }}";

h1.project-name {
    margin-top: 161px;
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-size: cover;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/39747379219899085/A35F08AAFF4A225210E505678FA3AD27A889880A/);
  color: #ffe8b9;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
body {
  
  /*  background: radial-gradient(#000, #270000, #000000);
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(45,1,6,1) 50%, rgba(0,0,0,1) 100%);
  color: #b7b7b7;*/
   background-color: #000;
  color: #d6d6d6;
 
}

.main-content h2 {
    font-weight: bold;
    color: #ffffff;
    background-color: black;
}
